/* buttons */

/* clase base: */

.btn {
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-s);
    transition: var(--transition-default);
    width: fit-content;
}

/* clases de medida: */

.btn--type-default {
    padding: var(--space-3xs) var(--space-s);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: 1.7;
}

.btn--type-secondary {
    padding: var(--space-3xs) var(--space-l);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    line-height: 1.7;
}

.btn--type-verenstitch {
    padding: var(--space-2xs) var(--space-xl);
    font-size: var(--font-size-l);
    line-height: 2;
    font-weight: var(--font-weight-semibold);
}

/* btn--icons */

.btn--type-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    /*padding: var(--space-3xs);*/
}

.btn--type-icon-medium {
    width: var(--space-2xl);
    padding: 0;
}

.btn--type-icon-small {
    width: var(--space-xl);
    padding: var(--space-3xs);
}

/* full container */

.btn--type-full {
    width: 100%;
}

/* clases visuales: */

.btn--default {
    background-color: var(--accent-default);
    border: 2px solid var(--border-secondary);
    color: var(--text-default);
}

.btn--default:hover {
    background-color: var(--accent-default-hover);
    border: 2px solid var(--border-accent);
    color: var(--text-default);
    box-shadow: var(--shadow-m);
}

.btn--secondary {
    background-color: var(--accent-secondary);
    border: 2px solid var(--border-secondary);
    color: var(--text-default);
}

.btn--secondary:hover {
    background-color: var(--accent-secondary-hover);
    border: 2px solid var(--border-accent);
    color: var(--text-default);
    box-shadow: var(--shadow-m);
}

.btn--danger {
    background-color: var(--accent-danger);
    border: 2px solid var(--border-secondary);
    color: var(--text-default);
}

.btn--danger:hover {
    background-color: var(--accent-danger-hover);
    border: 2px solid var(--border-secondary);
    color: var(--text-default);
    box-shadow: var(--shadow-m);
}

.btn--ghost {
    background-color: transparent;
    border: 2px solid var(--border-secondary);
    color: var(--text-muted);
}

.btn--ghost:hover {
    border: 2px solid var(--border-accent);
    color: var(--text-default);
    box-shadow: var(--shadow-m);
}

.btn--success {
    background-color: var(--accent-success);
    border: 2px solid var(--border-secondary);
    color: var(--text-default);
}

.btn--success:hover {
    background-color: var(--accent-success-hover);
    border: 2px solid var(--border-secondary);
    color: var(--text-default);
    box-shadow: var(--shadow-m);
}