/* buttons */

/* clase base: */

.btn {
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-s);
    transition: var(--transition-default);
    width: fit-content;
}

/* clases de medida: */

.btn--s {
    padding: var(--space-3xs) var(--space-s);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: 1.7;
}

.btn--m {
    padding: var(--space-3xs) var(--space-l);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    line-height: 1.7;
}

.btn--l {
    padding: var(--space-2xs) var(--space-xl);
    font-size: var(--font-size-l);
    line-height: 2;
    font-weight: var(--font-weight-semibold);
}

/* clases visuales: */

.btn--primary {
    background-color: var(--accent-strong);
    border: 2px solid var(--border-secondary);
    color: var(--text-secondary);
    transition: all ease 0.5s;
}

.btn--primary:hover {
    background-color: var(--accent-strong-hover);
    border: 2px solid var(--border-accent);
    color: var(--text-secondary);
    box-shadow: var(--shadow-l);
}

.btn--secondary {
    background-color: var(--accent-primary);
    border: 2px solid var(--border-secondary);
    color: var(--text-primary);
}

.btn--secondary:hover {
    background-color: var(--accent-primary-hover);
    border: 2px solid var(--border-accent);
    color: var(--text-primary);
    box-shadow: var(--shadow-l);
}

.btn--danger {
    background-color: var(--accent-danger);
    border: 2px solid var(--border-secondary);
    color: var(--text-primary);
}

.btn--danger:hover {
    background-color: var(--accent-danger-hover);
    border: 2px solid var(--border-secondary);
    color: var(--text-primary);
    box-shadow: var(--shadow-l);
}

.btn--ghost {
    background-color: var(--color-primary);
    border: 2px solid var(--border-secondary);
    color: var(--text-muted);
}

.btn--ghost:hover {
    background-color: var(--color-primary);
    border: 2px solid var(--border-accent);
    color: var(--text-primary);
    box-shadow: var(--shadow-l);
}

.btn--success {
    background-color: var(--accent-success);
    border: 2px solid var(--border-secondary);
    color: var(--color-secondary);
    box-shadow: var(--shadow-l);
}

.btn--success:hover {
    background-color: var(--accent-success-hover);
    border: 2px solid var(--border-secondary);
    color: var(--text-primary);
    box-shadow: var(--shadow-l);
}

/* otros: */

/* btn--icons */

.btn--icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*padding: var(--space-3xs);*/
}

.btn--icon--s {
    width: var(--space-l);
    height: var(--space-l);
}

.btn--icon--m {
    width: var(--space-xl);
    height: var(--space-xl);
}

.btn--icon--l {
    width: var(--space-3xl);
    height: var(--space-3xl);
}

/* full container */

.btn--full {
    width: 100%;
}

/*
.input {
  background: var(--bg-surface);
  border: 1px solid var(--border-default);
  color: var(--text-primary);
}

.input:focus {
  border-color: var(--accent-primary);
  outline: none;
  box-shadow: 0 0 0 3px rgba(109, 94, 252, 0.2);
}
*/