/* card.css */

/* gap in card--s: var(--space-s)
   gap in card--m: var(--space-m)
   gap in card--l: var(--space-l)
*/

/* clases base */

.card {
    border-radius: var(--radius-s);
    background-size: cover;
    background-position: center;
    background-color: var(--bg-elevated);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: var(--transition-default);
    outline: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    --scale-x: 1.5;
    --scale-y: 1.05;
}

.card__overlay {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to top,
        #0b1326ff,
        #0b132644
    );
    width: 100%;
    height: 25%;
    color: var(--text-default);
    padding: var(--space-s) var(--space-2xs);
    margin-top: auto;
    outline: auto;
    transition: var(--transition-default);
}

.card__overlay p {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

/* clases de tamaños */

.card--s {
    width: var(--space-3xl);
    height: var(--container-3xs);
    --card-title-size: var(--font-size-s);
    --card-text-size: var(--font-size-xs);
    --card-increase-width: calc(var(--space-3xl)*1.5);
    --card-increase-height: calc(var(--container-3xs)*1.05);
}

.card--m {
    width: var(--container-3xs);
    height: var(--container-2xs);
    --card-title-size: var(--font-size-m);
    --card-text-size: var(--font-size-s);
    --card-increase-width: calc(var(--container-3xs)*1.7);
    --card-increase-height: calc(var(--container-2xs)*1.08);
}

.card--l {
    width: var(--container-2xs);
    height: var(--container-s);
    --card-title-size: var(--font-size-l);
    --card-text-size: var(--font-size-m);
}

.card__overlay h4 {
    font-size: var(--card-title-size);
    margin: 0;
}

.card__overlay p {
    font-size: var(--card-text-size);
    margin: 0;
}

/* clases visuales */
.card--primary {

}

.card--secondary {

}

/* card:hover */
.card:hover {
    transform: scale(var(--scale-x), var(--scale-y));
    box-shadow: var(--shadow-l);
    z-index: 10;
}

.card:hover .card__overlay {
    height: 45%;
    padding-block: var(--space-2xs);
    gap: var(--space-2xs);
}

.card:hover .card__overlay p {
    opacity: 1;
    max-height: 6rem;
}