/* card.css */

/* gap in card--s: var(--space-s)
   gap in card--m: var(--space-m)
   gap in card--l: var(--space-l)
*/

/* clases base */
.card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: var(--radius-s);
    /* alternativa: aumentar medidas en card */
    transition: var(--transition-card);
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--accent-default);
    

    /* background-size: cover;
    background-position: center;*/
}

.card__container {
    position: relative;
    z-index: 0;
    overflow: visible;
    border-radius: var(--radius-s);
}

.card__meta {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: var(--meta-min-height);
    inset: 0;
    background: var(--card-meta-bg);
    color: var(--card-meta-color);
    padding: var(--space-2xs) var(--space-2xs);
    margin-top: auto;
    outline: auto;
}

.card__meta h4 {
    font-size: var(--card-title-size);
    margin: 0;
}

.card__meta p {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: var(--card-text-size);
    margin: 0;
}

/* clases de tamaños */
.card--horizontal {
    aspect-ratio: 16 / 9;
    width: var(--container-2xs);
    --card-title-size: var(--font-size-l);
    --card-text-size: var(--font-size-s);

    --meta-min-height: 40%;
    --card-increase-x-value: 1.5;
    --card-increase-y-value: 1.5;
}

.card--vertical {
    aspect-ratio: 3 / 4;
    width: var(--container-3xs);
    --card-title-size: var(--font-size-l);
    --card-text-size: var(--font-size-s);

    --meta-min-height: 32%;
    --card-increase-x-value: 1.7;
    --card-increase-y-value: 1.1;
}

.card--vertical-s {
    aspect-ratio: 3 / 4;
    width: var(--space-3xl);
    --card-title-size: var(--font-size-s);
    --card-text-size: var(--font-size-xs);

    --meta-min-height: 32%;
    --card-increase-x-value: 1.7;
    --card-increase-y-value: 1.1;
}



/* clases de proporción */

/* clases visuales */
.card--default {
    --card-meta-color: var(--text-default);
    --card-meta-bg: var(--gradient-default);
    outline: auto;
}

.card--secondary {
    --card-meta-color: var(--text-secondary);
    --card-meta-bg: var(--gradient-secondary);
    outline: auto;
}

/* card:hover */
.card__container:hover {
    z-index: 10;
}

.card__container:hover .card {
    width: calc(100% * var(--card-increase-x-value));
    height: calc(100% * var(--card-increase-y-value));
    box-shadow: var(--shadow-l);

    left: calc((1 - var(--card-increase-x-value)) * 50%);
    top: calc((1 - var(--card-increase-y-value)) * 50%);
}

.card__container:hover .card__meta {
    height: 45%;
    padding-block: var(--space-2xs);
    gap: var(--space-2xs);
}

.card__container:hover .card__meta p {
    opacity: 1;
    max-height: 6rem;
}