/* inputs.css */

/*
.input {
  background: var(--bg-surface);
  border: 1px solid var(--border-default);
  color: var(--text-default);
}

.input:focus {
  border-color: var(--accent-primary);
  outline: none;
  box-shadow: 0 0 0 3px rgba(109, 94, 252, 0.2);
}

- textarea: resize, min-height, line-height, padding, overflow, scrollbar.

border-radius, transition, caret-color, font-family, outline, appearance, box-sizing:border-box, ::placeholder, color, opacity, font-weight, :desabled, readonly, :invalid, :focus-visible.

problemas: como centrar el texto y placeholder en el input (caso textarea), tengo que mejorar variables de colores, agregar mas de estas y un posible refactor a las que ya estan.
*/

/* clases base */
.input {
  outline: none;
  border: none;
  appearance: none;
  box-shadow: var(--shadow-l);
  font-family: inherit;
  width: 100%;
  border-radius: var(--radius-s);
  box-shadow: var(--shadow-s);
  transition: var(--transition-default);
  line-height: 1.5;
}

input:disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* input:invalid {
  border: 2px solid red;
} */

/* input:valid {
  border-color: green;
} */

.input:focus-visible {
  outline: 2px solid var(--accent-primary);
  outline-offset: 2px;
}

/* clases de medida */

.input--size-medium {
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.input--size-large {
  padding: var(--space-3xs) var(--space-xs);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
}

.input--textarea {
  resize: none;
  min-height: var(--container-3xs);
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: 1.7;
}

/* clases visuales */
.input--default {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: var(--border-muted) 2px solid;
  color: var(--text-default);
  caret-color: var(--accent-default);
}

.input--default:hover {
  border-bottom: var(--border-accent) 2px solid;
}

.input--default:focus {
  border-bottom: var(--border-accent) 2px solid;
  background-color: var(--overlay-s);
  color: var(--text-default);
  box-shadow: var(--shadow-l);
}

.input--default::placeholder {
  color: var(--text-default);
}

.input--default:hover::placeholder, .input--default:focus::placeholder {
  color: var(--text-muted);
}

.input--secondary {
  background-color: var(--text-default);
  color: var(--text-secondary);
  border: none;
  caret-color: var(--accent-secondary);
}

.input--secondary:hover {

}

.input--secondary:focus {
  box-shadow: var(--shadow-l);
}

.input--secondary::placeholder {
  color: var(--text-secondary);
}

.input--secondary:hover::placeholder, .input--secondary:focus::placeholder {
  color: var(--text-muted);
}