/* inputs.css */

/*
.input {
  background: var(--bg-surface);
  border: 1px solid var(--border-default);
  color: var(--text-default);
}

.input:focus {
  border-color: var(--accent-primary);
  outline: none;
  box-shadow: 0 0 0 3px rgba(109, 94, 252, 0.2);
}

- textarea: overflow, scrollbar.

- :desabled, readonly, :invalid, :focus-visible.

text-fit: grow;

*/

/* clases base */
.input {
  outline: none;
  border: none;
  appearance: none;
  box-shadow: var(--shadow-l);
  font-family: inherit;
  width: 100%;
  border-radius: var(--radius-s);
  box-shadow: var(--shadow-s);
  transition: var(--transition-default);
  line-height: 1.5;
  font-weight: var(--font-weight-medium);
}

textarea.input {
  text-align: left;
  vertical-align: top;

  resize: none;
  min-height: var(--container-3xs);
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: 1.7;
}

.input:disabled {
  background-color: var(--accent-disabled);
  cursor: not-allowed;
  
}

/* input:invalid {
  border: 2px solid red;
} */

/* input:valid {
  border-color: green;
} */

.input:focus-visible:not(:disabled) {
  outline: 2px solid var(--accent-primary);
  outline-offset: 2px;
}

/* clases de medida */

.input--size-medium {
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--font-size-s);
}

.input--size-large {
  padding: var(--space-xs) var(--space-xs);
  font-size: var(--font-size-m);
}

/* clases visuales */
.input--default {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: var(--border-muted) 2px solid;
  color: var(--text-default);
  caret-color: var(--accent-default);
  box-shadow: var(--shadow-bottom);
}

.input--default:hover:not(:disabled) {
  border-bottom: var(--border-accent) 2px solid;
}

.input--default:focus:not(:disabled) {
  border-bottom: var(--border-accent) 2px solid;
  background-color: var(--overlay-s);
  color: var(--text-default);
  box-shadow: var(--shadow-l);
}

.input--default::placeholder {
  color: var(--text-default);
}

.input--default:hover::placeholder:not(:disabled), .input--default:focus::placeholder:not(:disabled) {
  color: var(--text-muted);
}

.input--secondary {
  background-color: var(--text-default);
  color: var(--text-secondary);
  border: solid 2px var(--border-muted);
  caret-color: var(--accent-secondary);
}

.input--secondary:focus:not(:disabled) {
  box-shadow: var(--shadow-l);
  border: solid 2px var(--border-muted);
  background: var(--gradient-terciary);
}

.input--secondary:hover:not(:disabled) {
  box-shadow: var(--shadow-accent);
  color: var(--text-muted);
}

.input--secondary::placeholder {
  color: var(--text-secondary);
}

.input--secondary:focus:not(:disabled) {
  color: var(--text-muted);
}

.input--secondary:hover::placeholder:not(:disabled) {
  box-shadow: var(--shadow-accent);
  color: var(--text-muted);
}