h1 {
    color: var(--text-primary);
    font-size: var(--font-size-3xl);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--space-l);
    background-color: var(--bg-main);
    box-shadow: var(--shadow-l);
    gap: var(--space-m);
}

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
}

.botones--iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-xl);
    padding-block: var(--space-l);
}

.grid {
    background-color: var(--bg-surface);
    display: inline-grid;
    grid-template-rows: repeat(3, max-content);
    align-items: center;
    justify-content: center;
    padding: var(--space-xl);
    row-gap: var(--space-l);
    box-shadow: var(--shadow-l);
    outline: auto;
}

.columns {
    grid-template-rows: none;
    grid-template-columns: repeat(3, max-content);
    column-gap: var(--space-l);
}

.icons__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
}