/* variables */

:root {
    --background-hero: url("../../assets/image/img-01.jpeg");

    /* background */
    --bg-main: #0b1326;
    --bg-surface: #202F49; /*superficies internas: sections, cards, containers, paneles*/
    --bg-elevated: #1d1630;; /*Elementos sobresalientes: modal, dropdown, sidebar, card importante, hover potente*/
    
    /*
    --color-secondary: #b89be8;
    --color-terciary: #4d305f;
    --color-cuatro: ;
    --color-gris: rgb(112, 108, 108);
    --color-gris-two: ;
    
    --text-muted: #8b8b8b;
    --border-muted: #8098ff;
    
    morado oscuro: #1d1630;
    

    */

    /* text */
    --text-default: #ffffff;
    --text-secondary: rgb(63, 60, 60);
    --text-heading: #b49eda;
    --text-muted: #797979;

    /* accent */
    --accent-primary: #b49eda;
    --accent-primary-hover: #755b95;
    --accent-secondary: #42365c;
    --accent-secondary-hover: #130f17; /*badge*/
    --accent-success: #01c918; /*acción completada*/
    --accent-success-hover: #018c11;
    --accent-danger: red;
    --accent-danger-hover: #8a0000;
    --accent-strong: #2DD4BF;

    /* borders */
    --border-primary: #1e1226;
    --border-secondary: #27073e;
    --border-muted: #797979;
    --border-accent: #BEA4EA;

    /* overlays */
    --overlay-s: rgba(0, 0, 0, 0.5);
    --overlay-m: rgba(0, 0, 0, 0.7);
    --overlay-l: rgba(0, 0, 0, 0.9);
    
    /* shadows */
    --shadow-s: 0 4px 12px rgba(0,0,0,0.3);
    --shadow-m: 0 8px 20px rgba(0,0,0,0.3);
    --shadow-l: 0 12px 24px rgba(0,0,0,0.35);
    
    /* font family */
    --font-family-base: montserrat, sans-serif;
    --font-family-secondary: montserrat, sans-serif;
    
    /* font sizes */
    --font-size-2xs: 0.75rem; /*12px*/
    --font-size-xs: 1rem; /*16px*/
    --font-size-s: 1.25rem; /*20px*/
    --font-size-m: 1.5rem;  /*24px*/
    --font-size-l: 2rem; /*32px*/
    --font-size-xl: 2.5rem; /*48px*/
    --font-size-2xl: 3.5rem; /*64px*/
    --font-size-3xl: 4rem;

    /*font weights*/
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    
    /*spacing*/
    --space-3xs: 0.25rem; /*4px*/
    --space-2xs: 0.5rem; /*8px*/
    --space-xs: 0.75rem; /*12px*/
    --space-s: 1rem; /*16px*/
    --space-m: 1.5rem; /*24px*/
    --space-l: 2rem; /*32px*/
    --space-xl: 3rem; /*64px*/
    --space-2xl: 5rem; /*96px*/
    --space-3xl: 7rem; /*128px*/

    /*container*/
    --container-3xs: 10rem;  /*160px*/
    --container-2xs: 14rem;  /*224px*/
    --container-xs: 18rem;   /*288px*/
    --container-s: 24rem;    /*384px*/
    --container-m: 32rem;    /*512px*/
    --container-l: 40rem;    /*640px*/
    --container-xl: 48rem;   /*768px*/
    --container-2xl: 64rem;  /*1024px*/
    --container-3xl: 80rem;  /*1280px*/
    
    /* radius */
    --radius-s: 0.5rem; /*8px*/
    --radius-m: 0.75rem; /*12px*/
    --radius-l: 1rem; /*16px*/
    --radius-xl: 2rem; /*32px*/
    --radius-2xl: 3rem; /*48px*/
    --radius-full: 9999px;
    
    /*transition*/
    --transition-default: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, height, width, max-height, max-width;

    /*
    Otras variables posibles: medidas del hero, transition, z-index, containers, breakpoints (responsive), más accent, blur;
    */
}